# Dependencias y configuraciones locales
/vendor/
node_modules/
frontend/node_modules/

# Builds
dist/
frontend/dist/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de VS Code
.vscode/

# Logs
*.log

# Variables de entorno
.env

# Archivos temporales
*.tmp
*.temp
